@CHARSET "UTF-8";

.notice {
    
    border-collapse: collapse;
}

table .container{
    font-family: Verdana,Geneva,sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
tr .con{
	height: 200px;
	
}
.notice td {
	width: 670px;
    text-align: center;
    padding: 6px 0;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #999;
}
